body{
	font-family: 'Bitter', serif;     /*Intégration d'une police d'ecriture*/
 	background-color: #F5F2E9 ;        /*Couleur du background du body html*/
}

.conteneur{

    display: flex;					/*Intégration de la flex-box pour les éléments du .conteneur*/
    justify-content: center;		/*Mise au centre des éléments dans .conteneur*/
    flex-wrap: wrap;				/*Retour a la ligne pour les éléments dans .conteneur*/
    margin : 25px;					/*Mise en place d'une marge générale pour les élément dans .conteneur*/
}

#margeTitre{
    margin-top: auto;				/*Marge de 50pixel entre le header et le titre categories*/
    color: #E35654 ;				/*Couleur du titre Categories*/

}


.styleCenter{

    text-align: center;				/*Commande pour centrer le paragraphe*/

}

.tailleImage{

	width: 300px;					/*Largeur/hauteur des images comprises dans .tailleImage*/
	height: 300px;
}

.tailleImage:hover {
	background: #E35654 ;
	opacity : 0.5;
    
                       /*Filtre en hover sur les images dans .taimeImage*/
    
}
.blocImage{
    width: 300px;
    text-align: center;                /*Largeur maximum de 300px pour le block de blocImage, alignement du text dans le block*/
    margin: 10px;                    /*Marge de 10px entre les images comprise dans blocImage*/
    }

.textBold{
    font-weight: bold ;                /*Mise en gras des caractères dans  .textBold 'Categories'*/

}

#margeBouton{

    margin-bottom: 100px;            /*Marge entre la listes de boutons et les première images*/
    background-color: #F5F2E9 ;        /*Couleur de fond pour la listes de boutons*/
}

.boutonMenu{                        /*Couleur de texte pour les liens clickable, soit pour les boutons*/
    color: black;
    background-color: #F5F2E9 ;
    padding: 10px;                    /*Encadrement de tous les liens clickable*/
    border:1px solid black;
    border-radius: 10px;

}

.boutonMenuA:hover .boutonMenu{
    background-color: #E35654 ;        /*Filtre en hover pour tous le sliens clickable*/
    color: white;
    border-color: #E35654 ;
}

.boutonMenuA:focus .boutonMenu{
    background-color: #E35654 ;        /*Filtre en focus pour tous les liens clickable*/
    color: white;
    border-color: #E35654 ;
}

.boutonMenuA{
    text-decoration: none;            /*Retire le soulignement et la couleur de bases des liens clickable*/
    margin: 10px;

}

#margeFin{

    margin-bottom: auto;            /*Marge entre le dernier bouton clickable et le footer*/
}

